<div id="<%= dom_id client %>">
  <tr>
    <th scope="row"><%= client.id %></th>
    <td><%= client.name %></td>
    <td><%= client.age %></td>
    <td><%= client.movies.last %></td>
    <td><%= link_to "Show this client", client, class: "btn btn-info btn-sm me-2" %></td>
    <td><%= link_to "Edit this client", edit_client_path(client), class: "btn btn-warning btn-sm me-2" %></td>
    <td>
      <%= form_with(model: client, url: client_path(client), method: :delete, data: { confirm: '¿Estás seguro de eliminar al cliente?' }) do |f| %>
        <%= f.submit "Destroy this client" %>
      <% end %>
    </td>
  </tr>
</div>
